.car-offer {
  margin-top: 74px;
}

.car-offer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
}

.car-offer__gallery {
  margin-top: 16px;
}

.car-offer__gallery--new .gallery__img-container::before {
  content: "new model";
}

.car-offer__tabs {
  margin-top: 33px;
  margin-left: 6px;
}
