.header {
  background-color: $special-white;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 14px;
}

.header__logo {
  margin-left: 7px;
}

.header__nav {
  margin-right: 7px;
}
