.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba($light-grey, 0.6);
}

.modal__content-container {
  position: relative;

  padding: 35px;
  padding-top: 30px;

  background-color: $special-white;
}

.modal__close-button {
  position: absolute;
  top: 25px;
  right: 25px;

  width: 15px;
  height: 15px;

  font-size: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &:hover::before,
  &:hover::after {
    background-color: $basic-red;
  }

  &:active::before,
  &:active::after {
    opacity: 0.6;
  }
}

.modal__close-button::before,
.modal__close-button::after {
  content: "";

  position: absolute;
  left: -2px;
  top: 7px;

  display: block;
  width: 19px;
  height: 2px;

  background-color: $ultra-light-grey;
}

.modal__close-button::before {
  transform: rotate(-45deg);
}

.modal__close-button::after {
  transform: rotate(45deg);
}
